{{!--<div class="share u-hover-wrapper">
    <a class="share-item share-facebook u-hover-item"
        href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
        target="_blank"><i class="icon icon-facebook"></i></a>
    <a class="share-item share-twitter u-hover-item"
        href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
        target="_blank"><i class="icon icon-twitter"></i></a>
    <a class="share-item share-pinterest u-hover-item"
        href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{featured_image}}&description={{encode title}}"
        target="_blank"><i class="icon icon-pinterest"></i></a>
    <a class="share-item share-linkedin u-hover-item"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
        target="_blank"><i class="icon icon-linkedin"></i></a>
    <a class="share-item share-reddit u-hover-item"
        href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"
        target="_blank"><i class="icon icon-reddit"></i></a>
    <a class="share-item share-vk u-hover-item"
        href="http://vk.com/share.php?url={{url absolute="true"}}&title={{encode title}}"
        target="_blank"><i class="icon icon-vk"></i></a>
</div>--}}

<div class="bshare-custom">
  <div class="bsPromo bsPromo2"></div>
    <a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a>
    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
    <a title="分享到QQ好友" class="bshare-qqim" href="javascript:void(0);"></a>
    <a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a>
    <a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a>
    <a title="分享到云之家" class="bshare-kdweibo" href="javascript:void(0);"></a>
    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
    <span class="BSHARE_COUNT bshare-share-count" style="float: none;">63.1K</span>
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
